{% extends 'news/base.html' %}

{% block titleBlock %}
首页-新经资讯
{% endblock %}

{% block scriptBlock %}
<script type="text/javascript" src="../../static/news/js/index.js"></script>
{% endblock %}



{% block headerBlock %}
    <ul class="menu fl">
    {% for category in data.categories %}
        <li class="{% if category.active %}active{% endif %}" data-cid="{{ category.id }}"><a href="javascript:;">{{ category.name }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}

{% block contentBlock %}
<ul class="list_con fl">
    {% for dict in data.news_dict_li %}
    <li>
        <a href="#" class="news_pic fl"><img src="{{ dict.index_image_url }}"></a>
        <a href="#" class="news_title fl">{{ dict.title}}</a>
        <a href="#" class="news_detail fl">{{ dict.digest }}</a>
        <div class="author_info fl">
            <div class="author fl">
                <img src="../../static/news/images/person.png" alt="author">
                <a href="#">{{ dict.source }}</a>
            </div>
            <div class="time fl">{{ dict.create_time }}</div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}